/* Imports */
@import url("../base/reset.css");
@import url("../base/variable.css");

#services {
  background-color: var(--primary-color);
  overflow: hidden;
  padding: 5rem 3rem;
  position: relative;
  height: 160vh;
}

.services-blob {
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 0;
}

.top-left {
  background-image: url("../../assets/svg/services/servicos-top-left-blob.svg");
  top: -50px;
  left: -50px;
}

.bottom-right {
  background-image: url("../../assets/svg/services/servicos-bottom-right-blob.svg");
  bottom: -50px;
  right: -50px;
}

.services-title {
  color: var(--cta-color);
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding-right: 15rem;
  position: relative;
  text-align: right;
  text-decoration: underline;
}

.services-title::before {
  background-color: var(--cta-color);
  content: "";
  position: absolute;
  top: 18px;
  right: 410px;
  width: 45px;
  height: 25px;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 2;
}

.service-content h3 {
  color: var(--secondary-color);
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  text-decoration: underline;
  z-index: 2;
}

.service-description {
  color: var(--contrast-color);
  font-size: 1.25rem;
  text-align: center;
  width: 65rem;
  height: 10rem;
}

.slide-container {
  overflow: hidden;
  padding: 0 380px;
  position: relative;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  position: relative;
  height: 450px;
}
.slide li {
  background-color: var(--contrast-color);
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
  cursor: pointer;
  flex-shrink: 0;
  margin-inline: 1rem;
  opacity: 0.5;
  padding: 50px 30px;
  position: relative;
  text-align: center;
  width: 300px !important;
  height: 350px;
  transition: 0.3s ease-in-out;
}

.slide li.active {
  transform: scaleY(1.05);
  opacity: 1;
}

.slide li:hover {
  transform: scale(1.05);
}

.slide li::before,
.slide li::after {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.slide li::before {
  left: 20px;
  top: 15px;
  width: 180px;
  height: 180px;
}

.slide li::after {
  bottom: 20px;
  right: 30px;
  width: 100px;
  height: 100px;
}

.slide-icon,
.slide-title,
.slide-description {
  z-index: 1;
}

.slide-title {
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
}

.slide-description {
  margin-left: 1.25rem;
  width: 200px;
}

.arrow-nav .prev,
.arrow-nav .next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 44%;
  width: 44px;
  height: 44px;
  transition: 0.3s ease-out;
}

.arrow-nav .prev {
  left: 320px;
}

.arrow-nav .next {
  right: 320px;
}

.arrow-nav .prev:hover,
.arrow-nav .next:hover {
  transform: scale(1.2);
}

.custom-controls {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.custom-controls li{
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: .5;
  overflow: hidden;
  margin-inline: .5rem;
  transform: scale(.8);
  width: 20px;
  height: 20px;
}

.custom-controls li.active {
  opacity: 1;
}

.services-cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.services-cta-text {
  border-left: 2px solid var(--contrast-light);
  color: var(--contrast-light);
  padding-left: 1.25rem;
  font-size: 1.25rem;
  line-height: 3;
}

.services-cta dotlottie-player {
  z-index: 0;
}

.services-container .btn {
  margin-bottom: 3rem;
  margin-left: 12rem;
  position: relative;
  z-index: 3;
}

@media (min-width: 360px) and (max-width: 767px){
  #services {
    padding: 5rem 1rem;
    min-height: 100vh;
    height: auto;
  }

  .services-content {
    width: 100%;
    overflow: hidden;
  }

  .services-blob {
    height: 300px;
    width: 300px;
  }

  .services-blob.top-left,
  .services-blob.bottom-right {
    z-index: 1;
  }

  .services-title {
    font-size: 2rem;
    padding-right: 30px;
    z-index: 1;
  }

  .services-title::before {
    width: 20px;
    height: 10px;
    top: 20px;
    right: 160px;
  }

  .service-content h3 {
    font-size: 1.75rem;
    text-align: center;
  }

  .service-description {
    height: auto;
    text-align: left;
    width: 90%;
  }

  .slide-container {
    margin: 0 -22rem;
    width: 1050px;
    height: auto;
  }

  .wrapper {
    margin: 0 -5rem;
    padding: 4rem;
    width: calc(100% + 5.5rem);
  }

  .slide {
    margin: 0 auto;
  }


  .slide-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: 0.5rem;
  }

  .arrow-nav {
    display: none;
  }

  .custom-controls {
    margin-top: -4rem;
  }

  .custom-controls li {
    width: 10px;
    height: 10px;
  }

  .services-cta-text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }

  .services-container .btn {
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }

  .services-ilustration {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1169px){
  #services {
    min-height: 100vh;
    height: auto;
  }

  .services-blob {
    height: 600px;
    width: 600px;
  }

  .services-title {
    font-size: 2.5rem;
    padding-right: 30px;
    z-index: 1;
  }

  .services-title::before {
    width: 30px;
    height: 20px;
    top: 20px;
    right: 200px;
  }

  .slide-container {
    width: 1300px;
    margin: 0 -16rem;
  }

  .wrapper {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
  }

  .slide {
    width: 100%;
  }

  .services-cta {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }

  .services-cta-text {
    z-index: 2;
  }

  .services-container .btn {
    margin: 2rem auto 1rem 0;
    z-index: 3;
  }

  .services-ilustration {
    display: block;
  }
}

@media (min-width: 1170px) and (max-width: 1700px){
  #services {
    min-height: 100vh;
    height: auto;
  }

  .services-blob {
    height: 600px;
    width: 600px;
    z-index: 0;
  }

  .services-title {
    font-size: 2.5rem;
    padding-right: 30px;
    z-index: 1;
  }

  .services-title::before {
    width: 30px;
    height: 20px;
    top: 20px;
    right: 200px;
  }

  .slide-container {
    width: 1850px;
    margin: 0 -22rem;
  }

  .wrapper {
    width: 100%;
    margin: 0 -2rem;
    padding: 1.75rem;
  }

  .slide {
    width: calc(100% - 2rem);
  }

  .services-cta {
    justify-content: space-between;
    z-index: 2;
  }

  .services-cta-text {
    z-index: 2;
  }

  .services-container .btn {
    margin: 2rem auto 1rem 0;
    z-index: 3;
  }

    .services-ilustration {
    display: block;
  }
}
