#about {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 3rem;
  position: relative;
  overflow: hidden;
  height: 140vh;
}

#about-title {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
  text-decoration: underline;
}

#about-title::before {
  background-color: var(--primary-color);
  content: '';
  position: absolute;
  bottom: 12px;
  left: -45px;
  width: 40px;
  height: 20px;
}

.about-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.about-cv {
  color: var(--main-text);
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-left: 5rem;
  margin-bottom: 4rem;
}

.about-cv h3 {
  position: relative;
  margin-bottom: 1rem;
}

.about-cv h3::before {
  background-color: var(--primary-color);
  content: '';
  position: absolute;
  bottom: 5px;
  left: 18rem;
  width: 40px;
  height: 30px;
  z-index: 1;
}

.about-cv h3::after {
  background-color: var(--secondary-color);
  content: '';
  position: absolute;
  left: 20rem;
  bottom: 0;
  width: 50px;
  height: 40px;
  z-index: 0;
}

.about-cv p {
  border-left: 2px solid var(--primary-color);
  padding: 0 .5rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
}

.about-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 2;
}

.about-description-text {
  flex: 1;
  position: relative;
  font-size: 1.125rem;
  font-family: 'Poppins', sans-serif;
  color: var(--main-text);
  border-left: 2px solid var(--primary-color);
  padding-left: 1rem;
  line-height: 1.8rem;
  z-index: 1;
}
.about-description-text::after {
  content: '';
  position: absolute;
  top: -50px;
  left: -10%;
  width: 450px;
  height: 350px;
  background: url('../../assets/img/ilustrations/ilustration-2.svg') no-repeat center;
  background-size: contain;
  opacity: 0.25;
  z-index: 0;
}

.about-description-ilustration {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.about-description-ilustration >.ilustration {
  position: absolute;
  bottom: -100px;
  left: -20px;
}
.about-line {
  position: absolute;
  left: 50%;
  bottom: -200px;
  transform: translateX(5%);
  transform: translateY(3%);
  height: 55rem;
  width: auto;
  z-index: 0;
  pointer-events: none;
}

#about .btn {
  position: absolute;
  bottom: 40px;
  left: 32%;
}