/* Imports */
@import url('../base/reset.css');
@import url('../base/variable.css');

#contact {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.contact-line {
  position: absolute;
  top: -25px;
  left: -100px;
  z-index: 0;
}

.contact-blob {
  background-image: url('../../assets/svg/contact/blob-contato.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 1000px;
}

.contact-content {
  position: relative;
}

.contact-title {
  color: var(--contrast-color);
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-text {
  color: var(--contrast-color);
  font-size: 2rem;
  line-height: 2.5;
  position: relative;
  text-align: center;
  z-index: 1;
}

.highlight-text {
  font-weight: bold;
  margin-bottom: 5rem;
}

.contact-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-ilustration {
  position: absolute;
  bottom: 10px;
  right: 80px;
}



