/* Imports */
@import url('../base/reset.css');
@import url('../base/variable.css');

#contact {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.contact-line {
  position: absolute;
  top: -25px;
  left: -100px;
  z-index: 0;
}

.contact-blob {
  background: url('../../assets/svg/contact/blob-contato.svg') no-repeat;
  background-size: contain;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 1000px;
  width: 1500px;
  z-index: 0;
}

.contact-content {
  position: relative;
  z-index: 1;
}

.contact-title {
  color: var(--contrast-color);
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

.contact-text {
  color: var(--contrast-color);
  font-size: 2rem;
  line-height: 2.5;
  position: relative;
  text-align: center;
  z-index: 1;
}

.highlight-text {
  font-weight: bold;
  margin-bottom: 5rem;
}

.contact-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.contact-ilustration {
  position: absolute;
  bottom: 10px;
  right: 80px;
  z-index: 1;
}

@media (max-width:768px) {
  
  .contact-container {
    width: 400px;
    padding: 0 2rem;
  }

  .contact-line {
    display: none;
  }

  .contact-blob {
    height: 500px;
    width: 500px;
    left: 0;
    z-index: 0;
  }
  .contact-title {
    font-size: 1.5rem;
    margin-top: 5rem;
  }

  .contact-text {
    font-size: 1rem;
  }

  .highlight-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .contact-actions {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .qr-code {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  .contact-btn {
    display: block;
    margin: 4rem 4rem 6rem 4rem;
    width: 90%;
    max-width: 300px;
  }

  .contact-ilustration {
    display: none;
  }
}



