/* Imports */
@import url('../base/reset.css');
@import url('../base/variable.css');

#top-header-wrapper{
  background: url('../../assets/img/logo-hero/hero-img.jpg') no-repeat center center / cover;
  height: 100vh;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo-text a{
  text-decoration: none;
  color: var(--contrast-light);
}

#main-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main-menu a {
  color: var(--cta-color);
  position: relative;
  transition: color .3s;
  text-decoration: none;
}

#main-menu a::after {
  background-color: var(--cta-color);
  content: '';
  display: block;
  height: 2px;
  margin-top: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s ease-in;
  width: 0;
}

#main-menu a:hover {
  color: var(--cta-color-hover);
}

#main-menu a:hover::after {
  width: 100%;
}

.mobile-menu-toggle {
  display: none;
}