 /* Imports */
@import url('../base/reset.css');
@import url('../base/variable.css');

#services {
  background-color: var(--primary-color);
  overflow: hidden;
  padding: 5rem 3rem;
  position: relative;
  height: 160vh;
}

.services-blob {
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 0;
}

.top-left {
  background-image: url('../../assets/svg/services/servicos-top-left-blob.svg');
  top: -50px;
  left: -50px;
}

.bottom-right {
  background-image: url('../../assets/svg/services/servicos-bottom-right-blob.svg');
  bottom: -50px;
  right: -50px;
}

.services-title {
  color: var(--cta-color);
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding-right: 15rem;
  position: relative;
  text-align: right;
  text-decoration: underline;
}

.services-title::before {
  background-color: var(--cta-color);
  content: '';
  position: absolute;
  top: 18px;
  right: 410px;
  width: 45px;
  height: 25px;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 2;
}

.service-content h3 {
  color: var(--secondary-color);
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-decoration: underline;
  z-index: 2;
}

.service-description {
  color: var(--contrast-color);
  font-size: 1.25rem;
  text-align: center;
  width: 65rem;
  height: 10rem;
}

.carrossel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.arrow {
  background-color: transparent;
  border: none;
  color: var(--secondary-color-light);
  cursor: pointer;
  font-size: 2rem;
  transition: .3s ease-in-out
}

.arrow:hover {
  transform: scale(1.2);
}

.slides-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  padding-left: 3rem;
  width: 66.5rem;
  height: 28.125rem;
}

.slide {
  background-color: var(--contrast-color);
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 20px 10px;
  position: relative;
  text-align: center;
  width: 300px;
  height: 350px;
  transition: .3s ease-in-out;
}

.slide:hover {
  transform: scale(1.05);
}

.slide::before,
.slide::after {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.slide::before {
  left: 20px;
  top: 15px;
  width: 180px;
  height: 180px;
}

.slide::after {
  bottom: 20px;
  right: 30px;
  width: 100px;
  height: 100px;
}

.slide-icon,
.slide-title,
.slide-description {
  z-index: 1;
}

.slide-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
}

.slide-description {
  width: 200px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dot {
  background-color: var(--secondary-color-light);
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: .3s ease-in-out;
}

.dot.mobile-only {
  display: none;
}

.active {
  background-color: var(--secondary-color);
  transition: .3s ease-in-out;
}

.services-cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.services-cta-text {
  border-left: 2px solid var(--contrast-light);
  color: var(--contrast-light);
  padding-left: 1.25rem;
  font-size: 1.25rem;
  line-height: 3;
}

.services-cta dotlottie-player{
  z-index: 0;
}

.services-container .btn {
  margin-bottom: 3rem;
  margin-left: 12rem;
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  #services {
    padding: 5rem 1rem;
    min-height: 100vh;
    height: auto;
  }

  .services-content {
    width: 100%;
    overflow: hidden;
  }

  .services-blob {
    height: 300px;
    width: 300px;
  }

  .services-blob.top-left,
  .services-blob.bottom-right {
    z-index: 1;
  }

.services-title {
  font-size: 2rem;
  padding-right: 30px;
  z-index: 1;
}

.services-title::before {
  width: 20px;
  height: 10px;
  top: 20px;
  right: 160px;
}

.service-content h3 {
  font-size: 1.75rem;
  text-align: center;
}

.service-description {
  height: auto;
  text-align: left;
  width: 90%;
}

.carrossel-wrapper {
  gap: .75rem;
  margin: 0 auto;
  width: 100%;
}

  .slides-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    gap: 2rem;
  }

  .slide {
    width: 250px;
    height: 300px;
    margin: 1rem .75rem;
  }

  .slide-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: .5rem;
  }

  .dot.mobile-only {
    display: block;
  }

  .services-cta-text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }

.services-container .btn {
    position: relative;
    margin: 0 auto;
    z-index: 1;
  }

  dotlottie-player {
    display: none;
  }
}

@media (min-width: 769px) and (max-width:1270px) {
  #services {
    min-height: 100vh;
    height: auto;
  }
  
  .services-blob {
    height: 600px;
    width: 600px;
  }

  .services-title {
    font-size: 2.5rem;
    padding-right: 30px;
    z-index: 1;
  }

  .services-title::before {
    width: 30px;
    height: 20px;
    top: 20px;
    right: 200px;
  }

  .carrossel-wrapper {
    gap: 1.25rem;
  }

  .slide {
    width: 280px;
    height: 350px;
  }

  #dot-tablet {
    display: block;
  }

  .services-cta {
    margin-top: 10rem;
  }

  .services-cta-text {
    z-index: 2;
  }
}

@media (min-width: 1271px) and (max-width: 1700px) {
  #services {
    min-height: 100vh;
    height: auto;
  }

  .services-blob {
    height: 700px;
    width: 700px;
  }

  .services-title {
    font-size: 2.5rem;
    padding-right: 30px;
    z-index: 1;
  }

  .services-title::before {
    width: 30px;
    height: 20px;
    top: 20px;
    right: 200px;
  }
}